{% extends 'base.html' %}

{% block content %}
  <div>
    <h1>{{ object.csv_file }}</h1>
    <table class="table table-striped text-center bg-light">
      <thead>
        <tr>
          <th scope="col">Total processing time</th>
          <th scope="col">Successfully inserted data count</th>
          <th scope="col">Not inserted data count</th>
          <th scope="col">Import status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ object.formatted_upload_time }}</td>
          <td>{{ object.formatted_inserted_data_count }}</td>
          <td>{{ object.formatted_errors_count }}</td>
          <td class="text-{% if upload_done %}success{% else %}warning{% endif %}">{{ object.upload_status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}
