{% extends 'base.html' %}

{% block content %}
  <header>
    <h1>Import CSVs</h1>
    <p>Here, you can select the page for the corresponding CSV to import</p>
  </header>
  <ul>
    <li>
      <a href="{% url 'movies:import-movies' %}">Movies</a>
    </li>
    <li>
      <a href="{% url 'genome:import-genome-tags' %}">Genome Tags</a>
    </li>
    <li>
      <a href="{% url 'movies:import-tags-by-user' %}">Tags</a>
    </li>
    <li>
      <a href="{% url 'movies:import-links' %}">Links</a>
    </li>
    <li>
      <a href="{% url 'genome:import-scores' %}">Genome Scores</a>
    </li>
    <li>
      <a href="{% url 'ratings:import-ratings' %}">Ratings</a>
    </li>
  </ul>
{% endblock content %}
